.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100px;
}

.passenger-control-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100px;
}

