*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: {
        family: 'Inter-Regular';
        size: $font-size-small;
    }
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
}

button {
    border: none;
    background-color: inherit;
    color: $color-white;
}

.is-visible {
    display: block;
}

.is-hidden {
    display: none;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    @media (min-width:$width-widescreen) {
        max-width: 1180px;
    }
}

.bg-blue-grey {
    background-color: $bg-forms;
}

.color-blue {
    color: $color-blue;
}