*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: {
    family: 'Inter-Regular';
    size: $font-size-medium;
  }
  color: $color-dark-main;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}

.btn {
  font-size: 14px;
  text-align: center;
  padding: 12px 24px;
  color: $color-white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.is-visible {
  display: block;
}

.is-hidden {
  display: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @include widescreen {
    max-width: 1180px;
  }
}

.bg-blue-grey {
  background-color: $bg-forms;
}

.color-blue {
  color: $color-blue;
}