.button {
    font: {
        family: 'Inter-Regular';
        size: $font-size-small;
    };

    letter-spacing: 0.6px;
    text-transform: uppercase;
    cursor: pointer;
}

//.button-wrap {
//    margin-bottom: 20px;
//}

.button-search {
    width: 100%;
    background-color: $color-blue;
    padding: 15px;
    text-align: center;
}