// color
$color-white: #fff;
$color-yellow: #ffe300;
$color-blue: #3973F9;
$color-blue-light:#ACC3FF;
$color-blue-gray: #313F59;
$color-blue-dark: #253D7B;
$color-grey-light: #E0E1E7;
$color-gray: #B1B1B2;
$color-gray-medium: #7A88A4;
$color-dark-main: #363637;

//color opacity 0.9
$color-blue-opacity: #253d7bc4;


// font size
$font-size-small: 13px;
$font-size-medium: 14px;
$font-size-medium-large: 15px;
$font-size-large: 18px;

// media
$width-table: 600px;
$width-desktop: 1024px;
$width-widescreen: 1215px;
$width-large-desktop: 1440px;

// background
$bg-forms: $color-blue-opacity;


