.form {
  margin-bottom: 20px;
  background-color: $color-white;
  border-radius: 4px;

  .text-bg-blue {
    display: block;
    margin-top: 15px;
    margin-bottom: 35px;
    padding: 4px 8px;
    font-size: $font-size-small-extra;
    letter-spacing: 0.9px;
    background-color: $color-blue-fifteen-opacity;
    border-radius: 4px;
  }
}

.form-group-label {
  display: inline-block;
  margin-bottom: 10px;
  color: $color-text-gray;
  word-break: break-word;
}

.form-group-input {
  width: 100%;
  padding: 10px;
  border: 1px solid $color-gray-light;
  border-radius: 4px;
  outline-color: $color-blue;
}

.field .field-input {
  min-height: auto !important;
  height: auto !important;
  padding: 10px !important;
  font-size: 14px !important;
  border: 1px solid $color-gray-light !important;
}

.passenger-info-main-aside {
  max-width: 310px;
}

.passenger-info-holder {
  display: flex;
  padding: 0 0 20px;
}

.passenger-info-main {
  width: 100%;

  @include desktop {
    padding: 0 20px 0 0;
  }
}

/**
 * another components
 */
.vue-phone-number-input .input-phone-number input:focus {
  outline: 2px solid rgba(77, 144, 254, 0.4) !important;

}

.country-selector.has-value .field-label {
  display: none;
}

.country-selector .field-country-flag {
  top: 12px !important;
}

.country-selector.has-value .field-input {
  padding-left: 34px !important;
}

.vue-phone-number-input .select-country-container {
  min-width: 50px !important;
  max-width: 88px !important;
}

.pages-steps-holder {
  display: flex;
  padding: 20px 0;
}

