.form-row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 2px;
  @media (min-width: $width-table) {
    flex-direction: row;
  }
}

.input {
  width: 100%;
  padding: 14px 12px;
  margin-bottom: 2px;

  border: 2px solid transparent;
  outline-width: 2px;
  outline-color: $color-yellow;

  &:hover {
    border: 2px solid $color-yellow;
  }

  @media (min-width: $width-table) {
    max-width: 259px;
  }
  @media (min-width: $width-desktop) {
    max-width: 200px;
    margin-right: 2px;
  }


}


