.main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 500px;
    
    background: url("../../img/bg-main.png") no-repeat;
    background-size: cover;
}
