.main {
  min-height: 500px;
  height: 100%;
  padding: 70px 0 200px;

  background: grey url("../../img/bg-main.png") no-repeat;

  @include tablet {
    padding: 120px 0 400px;
  }
  @include desktop {
    padding: 170px 0 300px;
  }
  @include widescreen {
    padding: 220px 0 500px;
  }
}
