.header {
  width: 100%;
  background-color: $color-white;
  padding: 20px 0;
}

.link-logo {
  display: inline-block;
  font-size: 18px;
  color: #7A88A4;
  font-weight: bold;

  &:hover {
    color: #6DB3F1;
  }
}

