.dropdown-wrap {
  position: relative;
}
.dropdown-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 14px 12px;
  border: 2px solid transparent;
  background-color: $color-white;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 2px solid $color-yellow;
  }
  @include desktop {}
  margin-right: 2px;
}

/*.selected-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 12px;
  border: 2px solid transparent;
  outline-color: $color-yellow;
  background-color: $color-white;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 2px solid $color-yellow;
  }

  .dropdown-text {
    margin-right: 20px;
    word-break: break-all;
  }
}*/

.additional-fields-inner-wrap {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: $color-white;

  z-index: 1;
  @include desktop {
    width: calc(100% + 20px);
  }

  .passenger-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 14px 0;
  }
}

.btn-dropdown {
  width: 10px;
  height: 10px;
  margin-right: 12px;

  background: url("../../img/btn/arrow-down-gray.png") no-repeat center;
  cursor: pointer;

  &:focus {
    outline-color: $color-yellow;
  }

  &-active {
    transform: rotate(180deg);
    background-image: url("../../img/btn/arrow-down-blue.png");
  }
}