.container-form {
  padding: 20px;
}

.form {
  width: 100%;
  padding: 36px 20px;
}

.tabs-component-tabs {
  display: flex;
  margin-bottom: 20px;

  li {
    margin-right: 15px;
  }
}

.tabs-component-tab {

  a {
    text-transform: capitalize;
    color: white;
    padding-bottom: 3px;
    margin-right: 16px;
    border-bottom: 2px solid transparent;
  }
}

.tabs-component-tab-a{
  margin-right: 0!important;
}

.is-active {
  border-bottom: 2px solid $color-blue;
}

.autocomplete-holder {
    display: flex;
}
