.container-form {
    display: flex;
    justify-content: center;
}

.form {
    //max-width: 335px;
    width: 100%;

    padding: 36px 20px;

    @media (min-width: $width-table) {
        //max-width: 560px;
        //width: 100%;
    }
    @media (min-width: $width-desktop) {
        //max-width: 984px;
    }
}

@media (min-width: $width-desktop) {
    .input-wrap {
        display: flex;
    }
}
.tabs-component-tabs {
    display: flex;
    margin-bottom: 20px;
    li{
        margin-right: 15px;
    }
}
.tabs-component-tab {
    a {
        text-transform: uppercase;
        color: white;
        padding-bottom: 3px;
        margin-right: 16px;
        border-bottom: 2px solid transparent;

        //&:hover {
        //    display: inline-block;
        //    border-bottom: 2px solid $color-blue;
        //}
    }
}

.is-active {
    border-bottom: 2px solid $color-blue;
}
